// sets background color and padding for navbar
nav.my-navbar.navbar {
  background: #A1B8D8;
  background-color: rgba(255,255,255,0.5);
  border-radius: 0;
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
  position: fixed;
  z-index: 1;
}

.my-company-name {
  color: #000000;
  font-size: 20px;
  line-height: 55px;
}

// body.modal-open {
//     overflow: hidden;
//
// }
